
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
    <ion-title>Appareils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button expand="full" ion-item *ngFor="let appareil of appareilsList; let i =index "(click)="onLoadAppareil(i)">
      <ion-icon name="power" [color]="appareil.isOn ? 'secondary' : 'danger'"></ion-icon>
          {{appareil.name}}
    </ion-button>
  </ion-list>

</ion-content>

<ion-footer>
  <p></p>
</ion-footer>

